# Cache
.eslintcache
.idea
.npm
.vscode
.yarnclean

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

node_modules
npm-debug.log
.DS_Store
coverage
.nyc_output
*.tgz
.sandbox
*.tsbuildinfo
dist/*
